html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(70,70,85);
    overflow-x: hidden;
    transition: ease 3s;
}

body {
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 10;
    -webkit-backdrop-filter: blur(25px);
    transition: 0.2s;
}

header h3 {
    color: white;
    font-size: 1.8rem;
    line-height: 0.1rem;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    transition: ease 1s; 
}

.mobile-notifier {
    display: none;
    position: absolute;
    top: 8px;
    right: 5px;
    color: rgba(200,50,42,0.8);
    font-weight: 800;
    border: solid 4px rgba(200,50,42,0.8);
    padding: 5px 10px 5px 10px;
    border-radius: 8px;

}

.body-section {
    margin-top: 100px;
    margin-bottom: 300px;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.8rem;
    /* Here we are using line-height as good typographic practice - by increasing the line spacing (properly called "leading" [ledd-ing]) we make the text more visually pleasing, and significantly easier to read. Generally make your leading between 1.4 - 2.0x the size of your font for the best readablity. This will vary by typeface, weight, and size - bigger text generally can use significantly less leading than smaller text.  */

    text-align: center;
    /* This simply centers your text inside its parent element - this doesn't always make it dead center on the page. */
}

@media(max-width: 1200px) {
    html {
        background-color: #4CFFCD;
        color: rgb(70,70,85);
    }
    h1 {
        font-size: 2rem;        
    }
}

@media(max-width: 800px) {
    html {
        background-color: #00FFB7;
        color: rgb(70,70,85);
    }
    h1 {
        font-size: 1.5rem;        
    }
}

@media(max-width: 700px) {
    html {
        background-color: #00DD92;
        color: rgb(70,70,85);
    }
    h1 {
        font-size: 1.2rem;        
    }
}

@media(max-width: 500px) {
    html {
        background-color: #007F5B;
        color: white;
    }
    h1 {
        font-size: 1rem;        
    }
}






